[submodule "ai_interviewer"]
	path = ai_interviewer
	url = git@github.com:jun3355986/ai_interviewer.git
	branch = main
	ignore = dirty

[submodule "ai_interviewer_front"]
	path = ai_interviewer_front
	url = git@github.com:jun3355986/ai_interviewer_front.git
	branch = main
	ignore = dirty

[submodule "ai_interview_backend"]
	path = ai_interview_backend
	url = git@github.com:jun3355986/ai_interview_backend.git
	branch = main
	ignore = dirty
